<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">MoviesApp</h1>
    <p class="lead">Encuentras aquí las peliculas en cartelera, las más populares y las más populares para niños.</p>
  </div>
</div>
<app-galeria titulo="Peliculas en cartelera" [peliculas]="cartelera | slice:0:6"></app-galeria>
<app-galeria titulo="Peliculas Populares" [peliculas]="populares | slice:0:6"></app-galeria>
<app-galeria titulo="Peliculas Populares para niños" [peliculas]="popularesKids | slice:0:6"></app-galeria>
